m4/
Makefile
Makefile.in
src/Makefile
src/Makefile.in
autom4te.cache/
config.guess
config.log
config.sub
config.status
configure
compile
aclocal.m4
depcomp
ltmain.sh
libtool
install-sh
missing
INSTALL
