.idea 
.DS_Store
m4/
Makefile
Makefile.in
src/Makefile
src/Makefile.in
autom4te.cache/
config.guess
config.log
config.sub
config.status
config.h
config.h.in
configure
compile
aclocal.m4
depcomp
ltmain.sh
libtool
install-sh
missing
INSTALL
stamp-h1

*.lo
*.la
*.lai
*.o
*.Plo
*.a
*~

*.dylib
*.so